install: [
  ["diskuvbox" "copy-file"
      "dl/msys2-base-i686.sfx.exe"
      "%{_:share}%/staging-files/windows_x86/bin/msys2-base.sfx.exe"]
  ["diskuvbox" "copy-file"
      "dl/msys2-base-x86_64.sfx.exe"
      "%{_:share}%/staging-files/windows_x86_64/bin/msys2-base.sfx.exe"]
]
extra-source "dl/msys2-base-i686.sfx.exe" {
  # https://github.com/msys2/msys2-installer/releases/tag/nightly-i686 (deprecated!)
  src: "https://github.com/msys2/msys2-installer/releases/download/nightly-i686/msys2-base-i686-20210705.sfx.exe"
  checksum: [
    "sha256=29b4c44b3f65bc0b496b8a9753bdebdc7ec61935db0d3dd09d89f1659e763d05"
  ]
}
extra-source "dl/msys2-base-x86_64.sfx.exe" {
  src: "https://github.com/msys2/msys2-installer/releases/download/2022-01-28/msys2-base-x86_64-20220128.sfx.exe"
  checksum: [
    "sha256=ac6aa4e96af36a5ae207e683963b270eb8cecd7e26d29b48241b5d43421805d4"
  ]
}
pin-depends: [
  [
    "dkml-component-staging-dkmlconfdir.0.1.0"
    "git+https://gitlab.com/diskuv-ocaml/components/dkml-component-desktop.git"
  ]
]
